<div class="wrapper">
  <div class="container page">
    <div class="row header">
      <h1>Give 100, Get £100!</h1>
      <p>Recommend Third Space to other schools and for each school that signs up you each get £100 off your next purchase!</p>
    </div>

      <div class="row steps">
        <div class="step col-xs-12 col-md-4">
          <div class="square-grey">
            <%= image_tag "third-space-one.png" %>
            <div class="circle-blue">
             <strong>1</strong>
           </div>
         </div>
         <div class="step-text">
          <h3>Recommend us to another school</h3>
        </div>
      </div>
      <div class="step col-xs-12 col-md-4">
        <div class="square-grey">
          <%= image_tag "third-space-two.png" %>
          <div class="circle-blue">
            <strong>2</strong>
          </div>
        </div>
        <div class="step-text">
          <h3>The school signs up for next term</h3>
        </div>
      </div>
      <div class="step col-xs-12 col-md-4">
        <div class="square-grey">
          <%= image_tag "third-space-three.png" %>
          <div class="circle-blue">
            <strong>3</strong>
          </div>
        </div>
        <div class="step-text">
          <h3>You both get £100</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row referrals">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <div class="forward">
            <h3>Forward your unique school code to other schools:</h3>
            <form>
              <input name="link" type="text" class="email" placeholder="http://thirdspacereferral/johnsmith" /><br>
              <input class="btn-email" type="submit" value="COPY LINK" />
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <div class="refer">
            <h3 id="email">Use our template to send lots of recommendations quickly:</h3>
            <%= form_for(@referral) do |f| %>
              <%= f.text_field :email, :placeholder => 'Email Address', :class => 'email' %><br>
              <%= f.submit 'SEND EMAIL', :class => 'btn-email' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row social">
      <div class="social-text">
        <h3>Or share using Social Media:</h3>
      </div>
      <div class="social-icons col-xs-12 list-inline center">
        <a href="http://www.facebook.com" target="_blank"><button class="btn btn-social">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </button></a>
        <a href="http://www.twitter.com" target="_blank"><button class="btn btn-social">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </button></a>
        <a href="http://www.linkedin.com" target="_blank"><button class="btn btn-social">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </button></a>
        <a href="http://www.google.com" target="_blank"><button class="btn btn-social">
          <i class="fa fa-google-plus" aria-hidden="true"></i>
        </button></a>
      </div>
    </div>
  </div>
</div>

